div {
	width: 100px;
	height: 100px;
	border: 20px solid white;
	border-radius: 100%;
}

.big_circle {
	border-color: rgba(100, 255, 100, 0.5);
}

.small_circle {
	border-color: rgba(100, 255, 100, 1) transparent rgba(100, 255, 100, 1) rgba(100, 255, 100, 1);
	position: absolute;
	line-height: 100px;
	top: 8px;
	left: 8px;
	font-size: 40px;
}

.small_circle::after {
	content: '%';
	font-size: 20px;
}